<!Doctype html lang="en">
  include mixins/_campaign
  include mixins/_link
  head
    title Follow The Learners™ (Beta)
    meta(name="description" content="Follow The Learners™ (Beta)")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous")
    script(src="/static/js/sw-loader.js")
    script(src="/static/js/gtm.js")
    script(src="/static/js/fbp.js")
    noscript
      img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=225538995469689&ev=PageView&noscript=1")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js")
    script(src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js")
    script(src="/static/js/hj.js")
    link(rel="apple-touch-icon" href="/static/imgs/appicon.png")
    link(rel="shortcut icon" type="image/jpg" href="/static/imgs/appicon.ico")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    script(src="https://kit.fontawesome.com/89be96593a.js" crossorigin="anonymous")
    style(type='text/css').
      body
      {
          width: 100%;
          margin: 0px;
          //- padding: 0px;
      }
      .read-more-text {
        display: none;
      }
      .read-more-button {
        width: 40%;
        font-size: 1rem;
        background-color: rgba(30, 30, 30, 0.8); 
        border: none;
        color: white;
        margin-top: 0.5rem;
      }
      .read-more-button-parent {
        text-align: center; 
        margin-top: -4px; 
        z-index: 100;
      }
      #percent-filled {
        font-size: 1.4rem;
        background: none!important;
        border: none;
        padding: 0!important;
        font-weight: bold;
      }
      #navbar {
        transition: max-height 0.5s ease-in-out;
      }

  body(style="padding-top: 8rem !important;")
    - const utmValue = utmSource ? "/?utm_source=" + utmSource : '/';
    header
      nav.navbar.is-fixed-top#navbar(role="navigation" style='z-index: 100; max-height: 120px; height: 120px; padding-left: 1.5rem; border-radius: 0; padding-right: 1.5rem; ')
        .navbar-brand(style="align-items: center;")
          a.title.has-text-grey-dark.is-large(href=utmValue style="margin-bottom: 0.5rem;") Follow The Learners™
            span.is-small.subtitle (Beta)
          a.navbar-burger.is-large(data-target="navbarHeroMenu" role="button" aria-label="menu" aria-expanded="false" style="background-color: #404040;")
            span(aria-hidden="true" style="color: white; width: 40%; left: 30%; height: 0.1rem;")
            span(aria-hidden="true" style="color: white; width: 40%; left: 30%; height: 0.1rem;")
            span(aria-hidden="true" style="color: white; width: 40%; left: 30%; height: 0.1rem;")
        .navbar-menu#navbarHeroMenu(style='background-color: #FFF')
          .navbar-end#tab-buttons(style='align-items: center;  padding-left: 1.5rem')
            // Campaigns Button
            a.button.is-medium.navbar-item(onclick="tabSelector.ToggleTab('tab-campaigns')" style='margin-right: 0.25rem; margin-left: 0.25rem; margin-bottom: 0.5rem;')
              span.icon.is-small
                i.fas.fa-map-marker-alt(aria-hidden='true' style='pointer-events: none;')
              span Donate
            // Your Learners Button
            a.button.is-medium.navbar-item(onclick="tabSelector.ToggleTab('tab-your-learners')" style='margin-right: 0.25rem; margin-left: 0.25rem; margin-bottom: 0.5rem;')
              span.icon.is-small
                i.fas.fa-users(aria-hidden='true' style='pointer-events: none;')
              span Your Learners
            // All Learners Button
            a.button.is-medium.is-dark.navbar-item(onclick="tabSelector.ToggleTab('tab-all-learners')" style='margin-right: 0.25rem; margin-left: 0.25rem; margin-bottom: 0.5rem;')
              span.icon.is-small
                i.fas.fa-globe(aria-hidden='true' style='pointer-events: none;')
              span All Learners

            // Sign In Button
            a.button.is-medium.is-primary.navbar-item#sign-in-out(onclick= "tabSelector.ToggleTab('tab-your-learners')" style='margin-right: 0.25rem; margin-left: 0.25rem; margin-bottom: 0.5rem;')
              span#sign-in-text Sign In

    .section#tabs-parent(style='z-index: 100; padding: 0;')
      .section.is-hidden#tab-campaigns(style='padding: 0;')
        //- div.has-text-centered
        //- h3.subtitle.is-3.has-text-grey(style='margin-top: 0.5rem') Pick a Region
        .section(style="padding-top: 0.5rem;")
          //- h3.has-text-grey.has-text-centered(style='background-color: rgba(255, 217, 105, 0.5)')
            //- p Follow The Learners is currently in beta testing.
            //- p If you have not received a beta testing invitation, please e-mail info@curiouslearning.org to log your interest in becoming a tester before donating.
          - for (let i = 0; i < campaigns.length; i++)
            if (i === 0 || i % 3 === 0)
              .columns.is-desktop(style='margin-top: 0.5rem')
                - for (var j = i; j < (3 + i); j++)
                  - if (j >= campaigns.length) break;
                    - let campaign = campaigns[j];
                    +campaign(campaign.country, campaign.imgRef, campaign.body, campaign.campaignID, campaign.amount, campaign.country, utmSource, campaign.donateRef, campaign.isFeatured)
          script.
            function goToDonate(campaign, amount, donateRef) {
              document.getElementById('donate-modal').classList.add('is-active');
              window.history.replaceState(null, null, "?utm_source=" + campaign);
              let submitButtons = document.getElementsByClassName('gl-widget__donation-submit-button');
              if (submitButtons.length > 0) {
                let donateButton = submitButtons[0];
                donateButton.addEventListener('click', () => {
                  if (campaign.includes("facebook")) {
                    fbq('trackCustom', 'DonationClick', {utmSource: campaign});
                  }
                } , false);
              }
            }
            function readMore(btn) {
              let spanId = btn.id.replace('btn_', '');
              let readMoreElement = document.getElementById(spanId);
              if (readMoreElement && readMoreElement.style.display === '' || 
                  readMoreElement && readMoreElement.style.display === 'none') {
                readMoreElement.style.display = 'block';
                btn.innerText = 'Read Less';
              } else if (readMoreElement && readMoreElement.style.display === 'block') {
                readMoreElement.style.display = 'none';
                btn.innerText = 'Read More';
              }
            }
      
        .container.has-text-centered
          h5.is-size-5 Disclaimer
          p(style="padding-left: 1rem; padding-right: 1rem; font-size: 0.7rem;") In accordance with the Internal Revenue Service guidelines, Curious Learning : A Global Literacy Project, Inc. maintains discretion and sole control over the use of all donated funds. All donations are non-refundable. In practice, Curious Learning : A Global Literacy Project, Inc. honors the giving preferences for any of our previously approved programs and projects whenever possible. In rare cases, when that is not possible, gifts will be used where needed. Therefore, donors explicitly release Curious Learning : A Global Literacy Project, Inc. from any restrictions on how those funds are spent.

        br
        br

      .section.is-hidden#tab-your-learners(style='margin-top: 0rem; padding-top: 0; padding-left: 0; padding-right: 0;')
        .section(style='margin-top: 0rem; padding-top: 0.2rem; padding-bottom: 0.2rem; margin-bottom: none;')
          h1.title.has-text-grey-dark.is-large(style='font-size: 2.2rem; margin: 0') Your Learners
          h3.subtitle.is-3.has-text-grey(style='margin-top: 1rem') Amount Donated: 
            span $
            span#donation-amount
          h3.subtitle.is-4.has-text-grey(style='margin-bottom: 1rem;')
            span#congrats
            span You've reached&nbsp;
            span#learner-count
            span &nbsp;Learners since&nbsp;
            span#donation-date
            span &nbsp;
            span#your-learners-in-country
            span(style='font-size: 1.4rem;') &nbsp;(
              span#your-learners-no-region-user-count
              span &nbsp;users have Do Not Track on.)
          button.button.is-primary.is-large#give-again(onclick="onGiveNowButtonClick()" style="margin-left: 0") Give Again
          
            //- span Would you like to give again to reach more?
          h3.subtitle.is-3.has-text-grey
            span#percent-filled
        .section(style='position: relative; margin: 1rem; padding: 0;')
          #map-display-your-learners(style="width: 100%; height: 720px;")
          #map-overlay(style='width: 100%; height: 720px; position: absolute; top: 0; left: 0; z-index: 25; pointer-events: none;')
            .select.is-medium(style='')
              select#yourLearnersCountrySelect(onchange='onYourLearnersCountrySelectionChanged()' style='pointer-events: auto; margin: 4px;' name='campaignSelection')
            button.button.is-medium#btn-reset-map-yl(onclick="onResetYLMapButtonClick()" style='pointer-events: auto; margin: 4px;') Reset Map
          div#your-learners-overlay-pano.is-hidden(style="width: 100%; height: 720px; position: absolute; top: 0; left: 0; z-index: 30; pointer-events: auto;")
            div#your-learners-panorama(style="width: 100%; height: 100%; pointer-events: auto;")
            div(style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 35; pointer-events: none;")
              button.button.is-medium(onclick="onYourLearnersPanoramaCloseButtonClick()" style='pointer-events: auto; margin: 10px; float: right;')
                span(style="font-weight: bold;") Close
              //- button.button.is-medium(onclick="onPanoramaPreviousButtonClick()" style='pointer-events: auto; margin: 10px; position: absolute; left: 0; top: 45%; background-color: rgba(30, 30, 30, 0.3); font-weight: bold; font-size: 1.2rem; color: white; border: none;')
              //-   span(style="font-weight: bold;") Prev
              //- button.button.is-medium(onclick="onPanoramaNextButtonClick()" style='pointer-events: auto; margin: 10px; position: absolute; right: 0; top: 45%; background-color: rgba(30, 30, 30, 0.3); font-weight: bold; font-size: 1.2rem; color: white; border: none;')
              //-   span(style="font-weight: bold;") Next
      
      .section#tab-all-learners(style="margin-top: 0rem; padding-top: 0;")
        .section(style='margin: 0; padding: 0rem;')
          h1.title.has-text-grey-dark.is-large(style='font-size: 2.2rem; margin: 0') All Learners
          h3.subtitle.is-3.has-text-grey(style='margin-top: 1rem;') We've reached&nbsp;
            span#all-learners-count
            span &nbsp;Learners&nbsp;
            span#all-learners-in-country
            span(style='font-size: 1.4rem;') &nbsp;(
              span#no-region-user-count
              span &nbsp;users have Do Not Track on.)
        .section(style='position: relative; padding: 0; margin-top: 1rem;')
          #map-display-all-learners(style="width: 100%; height: 720px;")
          #map-overlay(style='width: 100%; height: 720px; position: absolute; top: 0; left: 0; z-index: 25; pointer-events: none;')
            .select.is-medium
              select#countrySelection(onchange='onCountrySelectionChanged()' style='pointer-events: auto; margin: 4px;' name='campaignSelection')
            button.button.is-medium#btn-reset-map(onclick="onResetMapButtonClick()" style='pointer-events: auto; margin: 4px;') Reset Map
          div#all-learners-overlay-pano.is-hidden(style="width: 100%; height: 720px; position: absolute; top: 0; left: 0; z-index: 30; pointer-events: auto;")
            div#all-learners-panorama(style="width: 100%; height: 100%; pointer-events: auto;")
            div(style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 35; pointer-events: none;")
              button.button.is-medium(onclick="onAllLearnersPanoramaCloseButtonClick()" style='pointer-events: auto; margin: 10px; float: right;')
                span(style="font-weight: bold;") Close
              //- button.button.is-medium(onclick="onPanoramaPreviousButtonClick()" style='pointer-events: auto; margin: 10px; position: absolute; left: 0; top: 45%; background-color: rgba(30, 30, 30, 0.3); font-weight: bold; font-size: 1.2rem; color: white; border: none;')
              //-   span(style="font-weight: bold;") Prev
              //- button.button.is-medium(onclick="onPanoramaNextButtonClick()" style='pointer-events: auto; margin: 10px; position: absolute; right: 0; top: 45%; background-color: rgba(30, 30, 30, 0.3); font-weight: bold; font-size: 1.2rem; color: white; border: none;')
              //-   span(style="font-weight: bold;") Next
    
    .modal#donate-modal
      .modal-background(onclick="document.getElementById('donate-modal').classList.remove('is-active');")
      .modal-card
        header.modal-card-head(style='border: none')
          p.modal-card-title.hast-text-grey-dark.has-text-centered Donate | Give Lively
          button.delete(aria-label='close' onclick="document.getElementById('donate-modal').classList.remove('is-active'); document.getElementById('modal-instruction-text').classList.remove('is-hidden');")
        .modal-card-body
          p We will locate your learners over the next few days after your donation. Please watch for an e-mail from followthelearners@curiouslearning.org letting you know when your first learners are ready.
          br
          noscript
            img(height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=3032825&fmt=gif")
          div.gl-simple-donation-widget#give-lively-widget
    
    .modal#donor-email-modal
      .modal-background(onclick="document.getElementById('donor-email-modal').classList.remove('is-active');")
      .modal-card
        header.modal-card-head(style='border: none')
          p.modal-card-title.hast-text-grey-dark.has-text-centered.is-size-5 Sign In to Follow The Learners™
          button.delete(aria-label='close' onclick="document.getElementById('donor-email-modal').classList.remove('is-active'); document.getElementById('modal-instruction-text').classList.remove('is-hidden');")
        .modal-card-body
          p.has-text-info.is-hidden#new-donor-info-text
            span.icon.is-small.is-left
              i.fas.fa-info-circle
            span#new-donor-info-content Please enter a valid email address
            br
            br
          p.has-text-grey#modal-instruction-text
            span We’ll email you a magic code for a password-free sign in.
            //- br
            //- span Or make a donation to create your account and start following your learners!
          form(onsubmit='checkForDonorSignIn(); return false;')
            //- .help Go to your Donor Summary
            br
            label.has-text-grey(for='email') E-mail
            .control.has-icons-left
              input.input#donor-email(name='email', type='email', title="Email" placeholder='user-name@example.com')
              span.icon.is-small.is-left
                i.fas.fa-envelope
            br
            p.is-pulled-right(style="font-size: 0.6rem;") New to Follow the Learners™?
            br
            .control
              input.button#donor-email-submit(type='button' disabled=true onclick='checkForDonorSignIn()' value='Send Me a Magic Link')
              input.button.is-pulled-right#go-to-donate(type='button' disabled=false onclick="document.getElementById('donor-email-modal').classList.remove('is-active'); tabSelector.ToggleTab('tab-campaigns')" value='Make a Donation')
          script.
            $(function() {
              $('#donor-email').focusin(function() {
                $('#donor-email').keyup(function(event) {
                  if(isSpecial(event.which)) return;
                  let value = $('#donor-email').val();
                  if (validateEmail(value)) {
                    $('#donor-email-submit').prop('disabled', false);
                    $('#new-donor-info-text').addClass('is-hidden');
                  } else {
                    $('#donor-email-submit').prop('disabled', true);
                    $('#new-donor-info-text').text('Please enter a valid email address');
                    $('#new-donor-info-text').removeClass('is-hidden');
                  }
                });  
              });
              $('#donor-email').focusout(function() {
                  $('#donor-email').keyup(function(event) {});
              });
            });

    script(src="https://secure.givelively.org/widgets/simple_donation/curious-learning-a-global-literacy-project-inc.js?show_suggested_amount_buttons=false&show_in_honor_of=false&address_required=false&has_required_custom_question=null&prefilled_donation_amount=20")

    footer.footer
      .container.has-text-centered
        .columns
          .column
            a(href='/faq' + utmValue) FAQ
          .column
            a(href='mailto:followthelearners@curiouslearning.org?Subject=FTL%20Support%20Request' target='_blank') Support
          .column
            a(href='/privacy-policy' + utmValue) Privacy Policy
        h5.is-size-5 Copyright 2020 by Curious Learning.
        
  script(src="/static/js/fbc.js")
  script(src="/static/js/tab-selector.js")
  script(src="/static/js/countUp.js")
  script(src="/static/js/index.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEl20cTMsc72W_TasuK5PlWYIgMrzyuAU&callback=initializeMaps")
  //- script(src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js")

  noscript
    iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-KW3K32P" height="0" width="0" style="display:none;visibility:hidden")

  script(src='/static/js/lnkd.js')
    noscript
      img(height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=3032825&fmt=gif")
